name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - master
  pull_request:
jobs:
  test:
    name: test and lint
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14.x
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Coverage
        run: go test -v -race -covermode=atomic -coverprofile=cover.out -timeout 10s ./...
      - name: Report coverage
        run: bash <(curl -s https://codecov.io/bash) -t 50f54c52-6302-41a7-a8f7-9835c21b53f6
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v1
        with:
          version: v1.35